body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #191919;
  --textNormal: floralwhite;
  --textTitle: oasis;
  --textLink: dodgerblue ;
  --hr: hsla(0, 0%, 100%, 0.2);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

blockquote {
  border-left: 5px solid var(--textTitle);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

div {
  color: var(--textNormal);
}

p {
  color: var(--textNormal);
}